<!DOCTYPE html>
<html>

<head>

</head>

<body>
	<form action="api/users/16/user-detail" method="post" enctype="multipart/form-data">
		univers<input type="text" name="university">
		college<input type="text" name="college">
		depart<input type="text" name="department">
	yearof enrol<input type="number" name="yearOfEnrollment">
		lyearof grad<input type="number" name="yearOfGraduation">
		picture<input type="file"name=profilePictureFile>
		
		<button type="submit" value="submit"></button>
	</form>
</body>



</html>