<!DOCTYPE html>
<html>

<head>

</head>

<body>
	<form action="api/users" method="post">
		firstname<input type="text" name="firstName">
		lastname<input type="text" name="lastName">
		email<input type="text" name="email">
		gender :male<input type="radio" name="gender" value="MALE">
		female<input type="radio" name="gender" value="FEMALE">
		bithdate<input type="date" name="birthDate">
		password<input type="password" name="password">
		country<input type="text" name="country">
		city<input type="text" name="city">
		phoneNumber <input type="text" name="phoneNumber">
		<button type="submit" value="submit"></button>
	</form>
</body>



</html>